/*about page*/
body {    
    overflow-x: hidden; 
    /*This overflow is called to set what shows when content overflows. 
      The hidden is called on the property to set the visibity as hidden*/
}

/*This affects every img in the about page*/
img {               
    width: 100%;    
}

/*This div affects every picture*/
div {                          
    position: absolute;         
    opacity: 0;                 
    transition-duration: 5s;    
}

/*This div hover affects every picture*/
div:hover {                       
    opacity: 1;                  
    transition-duration: 0.3s;   
}

/*black and white background image*/
.aboutBackground {       
    width: 100vw;          
    top: 0vw;             
    left: 0vw;             
    opacity: 1;            
}

/*HowToArt navbar*/
.howToArt {             
    width: 26.28vw;     
    top: .1vw;       
    left: .1vw;          
}

/*About navbar*/
.about {                
    width: 22.12vw;      
    top: 0.2vw;        
    left: 25.4vw;       
}

/*Lessons navbar*/
.lessons {                
    width: 20.57vw;       
    top: .1vw;          
    left: 46.5vw;        
}

/*InstantInspo navbar*/
.instantInspo {          
    width: 19.02vw;      
    top: 0vw;          
    left: 64.8vw;        
}

/*Gallery navbar*/
.gallery {            
    width: 17.66vw;   
    top: 0.2vw;         
    left: 82.4vw;       
}

/*title image*/
.title {               
    width: 74.91vw;    
    top: 13.6vw;          
    left: 18.1vw;       
}

/*samyra portrait image*/
.samyra {              
    width: 31.99vw;    
    top: 36.2vw;          
    left: 0.18vw;        
}

/*samyra about content*/
.aboutSamyra {               
    width: 71.17vw;    
    top: 34.3vw;          
    left: 28.7vw;       
}

/*jenny portrait image*/
.jenny {              
    width: 31.87vw;   
    top: 68vw;          
    left: 65vw;       
}

/*jenny about content*/
.aboutJenny {               
    width: 68.01vw;    
    top: 65.5vw;         
    left: 0.1vw;        
}

/*andy portrait image*/
.andy {               
    width: 39.06vw;    
    top: 102vw;          
    left: 0.18vw;        
}

/*andy about content*/
.aboutAndy {               
    width: 72.65vw;    
    top: 96.6vw;
    left: 27.5vw;        
}
