/*try it page*/
/*This overflow is called to set what shows when content overflows. 
    The hidden is called on the property to set the visibity as hidden*/
body {    
    overflow-x: hidden; 
}

/*affects every image in the page*/
img {
    width: 100%; 
}

/*This div affects every picture*/
div {                           
    position: absolute;         
    opacity: 0;                  
    transition-duration: 5s;    
}

/*This div hover affects every picture*/
div:hover {                      
    opacity:1;                     
    transition-duration: 0.3s;    
}

/*black and white background image*/
.tryItBackground {        
    width: 100vw;    
    top: 0vw;       
    left: 0vw;      
    opacity: .9;      
}

/*HowToArt navbar*/
.howToArt {            
    width: 28.77vw;   
    top: 0.0vw;       
    left: 0vw;         
}

/*About navbar*/
.about {                
    width: 22.37vw;     
    top: 0.0vw;          
    left: 26.8vw;         
}

/*Lessons navbar*/
.lessons {             
    width: 19.46vw;    
    top: 0.0vw;          
    left: 47.7vw;        
}
/*InstantInspo navbar*/
.instantInspo {        
    width: 18.50vw;   
    top: 0vw;        
    left: 65.4vw;        
}

/*Gallery navbar*/
.gallery {             
    width: 17.50vw;    
    top: 0vw;         
    left: 82.4vw;       
}

/*Try It: Pop Art image*/
.title {              
    width: 74.51vw;        
    top: 8vw;           
    left: 13.5vw;            
}

/*content piece 1 image*/
.content1 {          
    width: 48.78vw;           
    top: 30.09vw;                
    left: 12.95vw;                
    animation: sparkle;   
    animation-duration: 7s;    
    animation-iteration-count: infinite; 
}

/*content piece 2 image*/
.content2 {          
    width: 36.91vw;          
    top: 28.9vw;                
    left: 55.48vw;                
    animation: sparkle;
    animation-duration: 5s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}

/*content piece 3 image*/
.content3 {          
    width: 45.90vw;           
    top: 55.1vw;                
    left: 13.8vw;               
    animation: sparkle;
    animation-duration: 4s;
    animation-delay: 2.2s;
    animation-iteration-count: infinite;
}

 /*content piece 4 image*/
.content4 {         
    width: 39.11vw;           
    top: 51.5vw;                
    left: 51vw;               
    animation: sparkle;
    animation-duration: 4.7s;
    animation-delay: 1.1s;
    animation-iteration-count: infinite;
}

@keyframes sparkle {
    0% {opacity: 0.3;}
    20% {opacity: 0.9;}
    40% {opacity: 0.2;}
    60% {opacity: 1;}
    80% {opacity: 0.6;}
}

/*rainbow text frame image*/
.frame {               
    width: 97.36vw;    
    top: 21vw;       
    left: 2.5vw;         
}